@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* * PAGES * */
// 404
@mixin font-404-title(){
  font-size: 288px;
  font-weight: 800;
  color: $color-primary;
  text-align: center;
  line-height: 218px;
  @include media-inferior($breakpoints-desktop){
    font-size: 250px;
    line-height: normal;
  }
  @include media-inferior($breakpoints-s){
    font-size: 110px;
  }
}
@mixin font-404-subtitle(){
  font-size: 36px;
  font-weight: 500;
  color: $color-primary;
  text-align: center;
  padding-inline: 30px;
  @include media-inferior($breakpoints-desktop){
    font-size: 36px;
  }
  @include media-inferior($breakpoints-s){
    font-size: 12px;
    padding-inline: 60px;
  }
}
@mixin font-404-link(){
  font-size: 18px;
  font-weight: 500;
  color: black;
  text-align: center;
  text-decoration: underline;
  @include media-inferior($breakpoints-desktop){
    font-size: 18px;
  }
  @include media-inferior($breakpoints-s){
    font-size: 12px;
  }
}
// Homepage
@mixin font-homepage-hero(){
  font-size: clamp(24px, 2vw + 1rem, 48px);
  color: white;
  font-weight: 800;
  text-align: center;
  @include media-inferior($breakpoints-md){
    text-align: left;
    text-wrap: balance;
  }
}
@mixin font-location-title(){
  font-size: 18px;
  color: white;
  font-weight: 800;
  @include media-inferior($breakpoints-md){
    text-align: left;
    text-wrap: balance;
  }
}
/* * COMPONENTS * */

@mixin font-tag(){
  font-size: 14px;
  color: white;
  font-weight: 700;
  @include media-inferior($breakpoints-s){
    font-size: 10px;
  }
}

@mixin font-header(){
  color: #ffffff;
  font-weight: 500;
  font-size: 24px;
}
@mixin font-homepage-title(){
  color: #000000;
  font-weight: 500;
  font-size: 48px;
}
@mixin font-homepage-title--highlight(){
  color: #FF0101;
}

@mixin font-homepage-subtitle(){
  color: #000000;
  font-weight: 400;
  font-size: 18px;
}
@mixin font-dailyActivity-legend-label(){
  color: #74798C!important;
  font-weight: 500;
  font-size: 14px;
}

@mixin font-dailyActivity-label(){
  color: #20253A;
  font-weight: 500;
  font-size: 15px;
}

@mixin font-key-tracker-label(){
  color: $color-bg-black;
  font-weight: 800;
  font-size: 20px;
}

@mixin font-key-tracker-value(){
  color: #74798C;
  font-weight: 500;
  font-size: 14px;
}

@mixin font-score-percentage(){
  color: $color-bg-black;
  font-weight: 800;
  font-size: 26px;
}

@mixin font-score-text(){
  color: #74798C;
  font-weight: 500;
  font-size: 16px;
}