.sidebar {
  background: black;
  display: flex;
  height: calc(100dvh - 91px);
  flex-direction: column;
  align-items: center;
  padding-inline: 26px;
  justify-content: space-evenly;
  /*justify-content: space-between;
  padding-block: 256px 59px;
  gap: 164px;*/
  &-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &-copyright {
    color: white;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
  }
}