@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100vw;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

main {
  display: flex;
  max-height: 500px;
}

/* * PAGES * */
/* * COMPONENTS * */
.header {
  background: black;
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 91px;
  align-items: center;
  padding-inline: 28px 91px;
  gap: 150px;
  box-shadow: 0px 5px 4px 0px hwb(0deg 0% 100%/25%);
}
.header_logo {
  height: 61px;
}
.header_linkswp {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
  flex: 1;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .header_linkswp {
    gap: 20px;
  }
}
.header_linkswp_item_link {
  color: #ffffff;
  font-weight: 500;
  font-size: 24px;
}

.sidebar {
  background: black;
  display: flex;
  height: calc(100dvh - 91px);
  flex-direction: column;
  align-items: center;
  padding-inline: 26px;
  justify-content: space-evenly;
  /*justify-content: space-between;
  padding-block: 256px 59px;
  gap: 164px;*/
}
.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar-copyright {
  color: white;
  transform: rotate(180deg);
  writing-mode: vertical-lr;
}

.homepage {
  margin-block: 50px;
  flex: 1;
}
.homepage-content {
  display: grid;
  gap: 30px;
  grid-template-areas: "barchart barchart barchart tracker" "barchart barchart barchart tracker" "linechart . . tracker";
}
.homepage .keyNumbers {
  display: flex;
  flex-direction: column;
  gap: 39px;
  grid-area: tracker;
}
.homepage .keyNumbers-key {
  display: flex;
  gap: 30px;
  min-width: 260px;
}
.homepage .keyNumbers-key-txt-value {
  color: #282D30;
  font-weight: 800;
  font-size: 20px;
}
.homepage .keyNumbers-key-txt-label {
  width: 100%;
}

.error_404 {
  margin-block: 139px;
  display: flex;
  flex-direction: column;
  gap: 139px;
}
@media (max-width: 576px) {
  .error_404 {
    margin-block: 113px;
    gap: 113px;
  }
}
.error_404_title {
  font-size: 288px;
  font-weight: 800;
  color: #FF6060;
  text-align: center;
  line-height: 218px;
}
@media (max-width: 1023px) {
  .error_404_title {
    font-size: 250px;
    line-height: normal;
  }
}
@media (max-width: 576px) {
  .error_404_title {
    font-size: 110px;
  }
}
.error_404_subtitle {
  font-size: 36px;
  font-weight: 500;
  color: #FF6060;
  text-align: center;
  padding-inline: 30px;
}
@media (max-width: 1023px) {
  .error_404_subtitle {
    font-size: 36px;
  }
}
@media (max-width: 576px) {
  .error_404_subtitle {
    font-size: 12px;
    padding-inline: 60px;
  }
}
.error_404_link {
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: black;
  text-align: center;
  text-decoration: underline;
}
@media (max-width: 1023px) {
  .error_404_link {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .error_404_link {
    font-size: 12px;
  }
}

.btn_arrow {
  background: 0;
  border: 0;
  height: 80px;
}
@media (max-width: 576px) {
  .btn_arrow {
    height: 20px;
  }
}
.btn_arrow img {
  width: 100%;
  height: 100%;
}
.btn_arrow--prev {
  padding-inline: 20px 0;
}
.btn_arrow--next {
  padding-inline: 0 20px;
}

.card {
  background: #FBFBFB;
  border-radius: 5px;
  padding: 24px 30px;
  flex: 1;
}
.card--black {
  background: #282D30;
}
.card--p-number {
  padding: 32px;
}

.dailyActivity {
  height: 200px;
  grid-area: barchart;
}

.barChart-tooltip-wrapper .recharts-tooltip-item-list {
  display: grid;
  place-items: center;
}

.session {
  max-height: 263px;
  grid-area: linechart;
  padding-inline: 0;
  background: #FF0000;
  padding-block: 30px 16px;
  min-height: 258px;
  position: relative;
}
.session-label {
  position: absolute;
  width: 147px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 600;
  font-size: 15px;
  top: 30px;
  left: 30px;
  z-index: 2;
}

.section_py {
  padding-inline: 100px;
}
@media (max-width: 1023px) {
  .section_py {
    padding-inline: 50px;
  }
}
@media (max-width: 576px) {
  .section_py {
    padding-inline: 20px;
  }
}

/*# sourceMappingURL=index.css.map */
