.homepage {
  margin-block: 50px;
  flex: 1;
  &-content{
    display: grid;
    gap: 30px;
    grid-template-areas:
        "barchart barchart barchart tracker"
        "barchart barchart barchart tracker"
        "linechart . . tracker";
  }
  .keyNumbers{
    display: flex;
    flex-direction: column;
    gap: 39px;
    grid-area: tracker;
    &-key{
      display: flex;
      gap: 30px;
      min-width: 260px;
      &-txt{
        &-value{
          @include font-key-tracker-label();
        }
        &-label{
          width: 100%;
        }
      }
    }
  }
}