.homepage {
  margin-block: 50px;

  &_locationWp {
    margin-top: 50px;
    border-radius: 25px;
    background: $color-grey;
    gap: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
    place-items: center;
    @include media-inferior($breakpoints-desktop) {
      gap: 30px;
    }
    @include media-inferior($breakpoints-s) {
      background: 0;
      gap: 20px;
      place-items: normal;
      grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    }
    padding: 60px 50px;
    @include media-inferior($breakpoints-desktop) {
      padding:30px 25px;
    }
    @include media-inferior($breakpoints-s) {
      padding:0;
    }
    .location {
      position: relative;
      background-color: $color-primary;
      display: block;
      width: 340px;
      height: 340px;
      cursor: pointer;
      border-radius: 10px;
      background-size: cover;
      overflow: hidden;
      @include media-inferior($breakpoints-s) {
        width: 100%;
        height: 255px;
      }
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.4976584383753502) 30%, rgba(255,255,255,0) 100%);
      }
      &_title {
        position: absolute;
        top: 268px;
        left: 0;
        padding-inline: 20px;
        @include media-inferior($breakpoints-s){
          top: calc((268 * 100%) / 340 - 20px);
        }
        @include font-location-title();
      }
    }
  }
}