.dailyActivity {
  height: 320px;
  grid-area: barchart;
  display: flex;
  flex-direction: column;
  position: relative;
  &-label{
    @include font-dailyActivity-label();
  }
  .recharts{
    &-wrapper{
      position: static!important;
    }
  }
  .recharts-legend-wrapper{
    .recharts-default-legend{
      display: flex;
      justify-content: flex-end;
      gap: 20px;

    }
    .recharts-legend-item{

      .recharts-surface{
        margin-right: 12px!important;
      }
      span{
        @include font-dailyActivity-legend-label();
      }
    }
  }
  .recharts-responsive-container{
    margin-top: auto;
    .recharts-wrapper{
      position: relative;
    }
  }
  .barChart-tooltip-wrapper{
    background: #E60000;
    padding-block: 4px;
    padding-inline: 7px;
    height: 63px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    &-label{
      @include font-dailyActivity-barChart-tooltip-label();
    }
  }
}
