.hero{
  width: 100%;
  height: 223px;
  max-height: 223px;
  position: relative;
  @include media-inferior($breakpoints-md){
    height: 111px;
    max-height: 111px;
  }
  &_img{
    border-radius: 25px;
    filter: brightness(0.7);
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 111px;
  }
  &_title {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: grid;
    place-items: center;
    border-radius: 25px;
    @include font-homepage-hero();
    @include media-inferior($breakpoints-s){
      padding-inline: 16px;
    }
  }
}